vm-demo/src/main/app/vm-demo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:vm="http://www.mulesoft.org/schema/mule/vm" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration"/>
    <vm:connector name="VM" validateConnections="true" doc:name="VM"/>
    <vm:connector name="VM1" validateConnections="true" doc:name="VM"/>
    <flow name="vm-demoFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/vm" doc:name="HTTP"/>
        <set-payload value="#[&quot;this is sindhu&quot;]" doc:name="Set Payload"/>
        <vm:outbound-endpoint exchange-pattern="one-way" path="first" connector-ref="VM" doc:name="VM"/>
    </flow>
    <flow name="vm-demoFlow1" initialState="started">
        <vm:inbound-endpoint exchange-pattern="one-way" path="first" connector-ref="VM1" doc:name="VM"/>
        <logger message="#[payload]" level="INFO" doc:name="Logger"/>
    </flow>
</mule>
